# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.firebase/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tailwind.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Debug
npm-debug.log*
firebase-debug.log
firestore-debug.log
ui-debug.log

# OS
.DS_Store
Thumbs.db

# Analysis et resumé pull request
analysis.txt
copilot_overview.txt